.chat-layout {
  display: flex;
  height: 100vh;
  width: 100vw;

  background-color: var(--bg-primary);
}

/* LEFT */
.chat-list {
  width: 40%;
  border-right: 1px solid var(--border-primary);
}

/* RIGHT */
.chat-window {
  width: 60%;
  height: 100vh;
  position: relative;

}

.chat-window.start-chat {
  background-image: url('../assets/chat-removebg-preview.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-color: var(--bg-primary);
}

/* MOBILE */
@media (max-width: 768px) {
  .chat-layout {
    flex-direction: column;
  }

  .chat-list {
    width: 100%;
  }

  .chat-window {
    width: 100%;
    height: 100vh;
    display: none;
  }

  .chat-window.show {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

}

@media (min-width:768px)and (max-width:1400px) {
  .chat-window.start-chat {
    width: 100%;
    height: 600px;
    align-self: center;
    mix-blend-mode: darken;
  }

}