.container {
    height: 100%;
    width: 100%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    background-color: var(--bg-primary);
}

/* navbar styling ======================= */
.chat-navbar {
    min-height: fit-content;
    overflow-y: hidden;
    width: 100%;

    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
}

.icons {
    height: 4rem;
    width: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2px;

    text-align: center;
    font-size: clamp(10px, 15px);
    font-weight: 500;
    margin-right: 1.3rem;
}

.chat-app {
    height: 100%;
    min-width: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    font-weight: 650;

    margin-bottom: 0px;
    padding-left: 0px;

    align-self: center;
    color:var(--text-primary);
}

.user-img {
    cursor: pointer;
    height: 3.4rem;
    width: 3.5rem;

    object-fit: cover;
    aspect-ratio: 1/1;

    border-radius: 50%;
    border: 1px solid whitesmoke;

    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;

    /* 3D raised effect */
    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.08);
    transition: all .2s ease;


}

.user-img:active {
    border: 1px solid rgb(6, 70, 6);
}

/* ======================================== */

/* sidebar styling ========================== */
.sidebar {
    color:var(--text-primary);
    height: auto;
    width: 200px;
    padding: 0.5rem;
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    align-self: flex-end;
    margin-right: 0px;
    margin-top: 3.5rem;
    position: absolute;

    background: linear-gradient(180deg, var(--sidebar-bg-primary), var(--sidebar-bg-secondary));
    border: 1px solid var(--sidebar-border-primary);
    /* 3D raised effect */
    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.08);
    transition: all .2s ease;
}

.menus {
    width: 100%;
    padding: 1px 1px 1px 3px;
    cursor: pointer;
    transition: all .2s ease;

}

.menus:active {
    transform: translateZ(-2px);
    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.253),
        0 1px 2px rgba(0, 0, 0, 0.297);
}

.menus:hover {
    background: linear-gradient(180deg,var(--menu-hover-primary),var(--menu-hover-secondary) );
}
/* =========================================== */

/* search box styling -------------------- */
.search {
    width: 100%;
    height: 2.7rem;

    position: relative;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;

}

.icon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.search input {
    height: 2.5rem;
    width: 100%;
    flex: 1;

    caret-color: var(--text-primary);
    color:var(--text-primary);

    background: linear-gradient(180deg, var(--search-bg1-primary), var(--search-bg2-primary));
    border: 1px solid var(--search-border-primary);

    font-size: clamp(16px, 18px, 25px);
    line-height: 1.5;
    font-weight: 600;
    padding: 0.4rem;

    padding-left: 40px;

    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;

    /* 3D raised effect */
    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.08);
    transition: all .2s ease;
}

.search input::placeholder{
    color: var(--text-primary);
}
.search input:focus {
    outline: none;
    box-shadow:
        inset 0 3px 6px rgba(0, 0, 0, 0.15),
        0 0 0 2px rgb(24, 152, 24);
    z-index: 1;
}


.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 2.5rem;
    min-width: 2.7rem;
    
    /* keeps button roundish */
    font-size: 1.5rem;
    cursor: pointer;

    background: linear-gradient(180deg,var(--search-bg1-primary), var(--search-bg2-primary));
    border: 1px solid var(--search-border-primary);

    border-left: none;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;

    box-shadow:
        0 4px 10px rgba(0, 0, 0, .12),
        0 1px 2px rgba(0, 0, 0, .08);

    color:var(--text-primary);
}
/* ------------------------------------------- */

/* friend-list-------------------------------- */
.users-list {

    margin-top: 1.7rem;
    width: 100%;
    padding: 0px;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: var(--users-list-bg-primary);

}

.user:hover{

    border-radius: 25px;
    background-color: var(--users-list-bg-secondary);

    /* 3D raised effect */
    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.178),
        0 1px 2px rgba(0, 0, 0, 0.08);
    transition: all .2s ease;
}


.user {
    height: 100%;
    width: 98%;

    display: flex;
    gap: 1.5rem;
    padding: 0.6rem;

    color:var(--text-primary)
}

.profile-img {
    height: 60px;
    width: 60px;

    object-fit: cover;
    aspect-ratio: 1/1;

    pointer-events: none;

    border-radius: 50%;

    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
}

.friend-list {
    font-size: clamp(20px, 22px, 24px);
    font-weight: 550;

    display: flex;
    flex-direction: column;
    align-self: center;

    /* color: var(--text-primary); */
}

.lastChat {
    font-size: clamp(13px, 15px, 16px);
    font-weight: 400;

}

.last-msg-time {
    margin-left: auto;
    font-size: clamp(12px, 14px, 16px);
    font-weight: 500;
    padding: 0.5rem 0 0.5rem 0.5rem;
    /* padding-right: 0px; */
}

/* ---------------------------------------------- */
.friend-loader {
    height: var(--loader-size-primary);
    width:var(--loader-size-primary);
    place-self: center;
    margin: auto;
    mix-blend-mode: var(--friend-loader-bg-primary);
}